/* client/app/globals.css */
@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Define your font utilities: font-sans, font-mono, font-roboto, font-poppins */
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
  --font-roboto: var(--font-roboto), Roboto, sans-serif;
  --font-poppins: var(--font-poppins), Poppins, sans-serif;
  --breakpoint-800px: 800px;
  --breakpoint-1000px: 1000px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-roboto);
}